<!-- BEGIN: footer -->             
      <table align="center" width="800" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td bgcolor="#e1e7e7" class="home-bottom">
          <!--
          <a href="index.html">Home</a>  |  <a href="empresa.html">LA COOPERATIVA</a>  |  <a href="servicios.html">SERVICIOS</a>  |  <a href="proyectos.html">PROYECTOS</a>  |  <a href="sucursales.html">SUCURSALES</a>  |  <a href="contactos.html">CONTACTANOS</a><br />
          -->
            <span class="home-bottom-new">Copyright &copy; 2013 Grupo Voila.  All Rights Reserved.</span></td>
        </tr>
      </table>
<!-- END: footer -->   