<!-- BEGIN: header -->
<!--  Banner-->
    <table width="800" border="0" align="center" cellspacing="0" cellpadding="0">
      <tr>
        <td width="800" height="200" valign="top"><img src="./images/banner4.jpg" width="800" height="200" /></td>
      </tr>
    </table> 
<!--  Fin Banner-->
<!--  Encabezado-->        
     <table align="center" width="800" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="615" bgcolor="#e1e7e7" class="home-bottom">
            <span class="home-bottom-new" style="text-align:left; color:#FF0000; font-size:14px " >{titulo_sistema}</span>           </td>
          <td width="385" bgcolor="#e1e7e7" class="home-bottom">
            <span class="home-bottom-new" style="text-align:right">Bienvenido: <b>{nombre_usuario}</b> &nbsp; <br>{fecha_hoy}</span></td>
        </tr>
        </table>
<!--  Fin Encabezado-->         
<!-- END: header -->  
