<!-- BEGIN: home -->    
<table width="800" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
    <tr>
        <td  align="center">
        <img src="./images/home4.jpg"  />
         </td>
        </tr>
</table>

 <!-- 
<table width="800" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF"  CLASS="deepsea">

       
		<ul class="ul_home">

			<li class="li_home">

				<a class="enlace_normal" href="{pagina_principal}?op={Referencia_Modulos}" title="{Nombre_Modulos}">

					<img border="0" src="./images/auditoria.png"/>

				</a>

				<br/>

				<a class="enlace_normal" href="{pagina_principal}?op={Referencia_Modulos}">{Nombre_Modulos}</a>

			</li>
			
			<li class="li_home">

				<a class="enlace_normal" href="{pagina_principal}?op={Referencia_Modulos}" title="{Nombre_Modulos}">

					<img border="0" src="./images/auditoria.png"/>

				</a>

				<br/>

				<a class="enlace_normal" href="{pagina_principal}?op={Referencia_Modulos}">{Nombre_Modulos}</a>

			</li>
			<li class="li_home">

				<a class="enlace_normal" href="{pagina_principal}?op={Referencia_Modulos}" title="{Nombre_Modulos}">

					<img border="0" src="./images/auditoria.png"/>

				</a>

				<br/>

				<a class="enlace_normal" href="{pagina_principal}?op={Referencia_Modulos}">{Nombre_Modulos}</a>

			</li>
			<li class="li_home">

				<a class="enlace_normal" href="{pagina_principal}?op={Referencia_Modulos}" title="{Nombre_Modulos}">

					<img border="0" src="./images/auditoria.png"/>

				</a>

				<br/>

				<a class="enlace_normal" href="{pagina_principal}?op={Referencia_Modulos}">{Nombre_Modulos}</a>

			</li>		
			<li class="li_home">

				<a class="enlace_normal" href="{pagina_principal}?op={Referencia_Modulos}" title="{Nombre_Modulos}">

					<img border="0" src="./images/auditoria.png"/>

				</a>

				<br/>

				<a class="enlace_normal" href="{pagina_principal}?op={Referencia_Modulos}">{Nombre_Modulos}</a>

			</li>											
													
		</ul>      
        </td>
    </tr>
</table>  -->  
  
<!-- END: home -->       
