<!-- BEGIN: login -->       
<table width="800" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
    <tr>
        <td>
            <div id="main">
                <div id="formulario_login">
                    <fieldset>
                        <legend>Inicio de Sesi&oacute;n</legend>
                            <form id="frm1" name="frm1" method="post" enctype="multipart/form-data" action="login.php" xml:lang="es" lang="es">
                            <table align="center" border="0" cellpadding="2" cellspacing="0" width="350">

                                <tr>
                                    <td colspan="2">
                                        <div id="message" class="message" style="display:{msj_uno};">{mensaje}<br />&nbsp;</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tag"><img src="./images/login.gif"  /></td>
                                    <td>
                                    <table width="80%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="130" class="tag">Usuario:</td>
                                    <td><input id="txtuser" name="txtuser" size="20" maxlength="75" type="text"/></td>
                                </tr>
                                <tr>
                                    <td  class="tag">Contrase&ntilde;a:</td>
                                    <td><input id="txtpass" name="txtpass" size="20" maxlength="25" type="password"/></td>
                                </tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr>
                                    <td  align="center"colspan="2"><input  id="btnentrar" name="btnentrar" value="Entrar" type="submit"/></td>
                                </tr>
      </table>

      
									</td>
                                </tr>

                            </table>
                            </form>
                            <br />
                    </fieldset><br />
                </div>
            </div>  
        </td>
    </tr>
</table>      
<!-- END: login -->      			
            
