<!-- BEGIN: menu -->  
      <table align="center" width="800" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td bgcolor="#085049">
<ul id="jsddm">
	<li><a href="{pagina_principal}?op=inicio">Inicio</a>
	</li>
	<li><a href="#">Ventas</a>
		<ul>
			<li><a href="{pagina_principal}?op=ventas#final">Vender Loteria</a></li>
			<li><a href="#">Re-Imprimir Ticket</a></li>
			<li><a href="{pagina_principal}?op=anular_ticket">Anular Ticket</a></li>
			<li><a href="{pagina_principal}?op=copiar_ticket">Copiar Ticket</a></li>
			<li><a href="{pagina_principal}?op=pagar_ganador"">Pagar Ganador</a></li>
		</ul>
	</li>
	<li><a href="#">Loteria</a>
		<ul>
			<li><a href="{pagina_principal}?op=loterias">Configurar Loterias</a></li>
			<li><a href="{pagina_principal}?op=sorteos">Configurar Sorteos</a></li>
                        <li><a href="{pagina_principal}?op=relacion_pagos">Relacion de Pagos</a></li>
			<li><a href="{pagina_principal}?op=cupos_generales">Cupos Generales de Numeros</a></li>
			<li><a href="{pagina_principal}?op=cupos_especiales">Cupos Especiales de Numeros</a></li>
		</ul>    
    </li>
	<li><a href="#">Reportes</a>
		<ul>
			<li><a href="{pagina_principal}?op=listado_ventas">Reporte de Ventas Taquilla</a></li>		
			<li><a href="#">Listado de Ventas Agencia</a></li>
                        <li><a href="{pagina_principal}?op=RNumeros_agotados" target="_blank">Reporte Numeros Agotados</a></li>
			<li><a href="{pagina_principal}?op=cargar_resultados">Cargar Resultados</a></li>
                        <li><a href="{pagina_principal}?op=Rver_resultados" target="_blank">Ver Resultados</a></li>
			<li><a href="#">Tickets Ganadores</a></li>
			<li><a href="#">Ventas por Periodo</a></li>
			<li><a href="#">Tickets Eliminados</a></li> 
			<li><a href="#">Tickets Pagados</a></li>
			<li><a href="#">Premios Frios</a></li>			                      
		</ul> 
    </li>
	<li><a href="#">Administracion  </a>
		<ul>
			<li><a href="{pagina_principal}?op=usuario">Usuarios</a></li>
            <li><a href="{pagina_principal}?op=taquillas">Taquillas</a></li>
			<li><a href="{pagina_principal}?op=parametros">Parametros Generales</a></li>
			<li><a href="{pagina_principal}?op=impresora">Impresora</a></li>
		</ul>    
    </li>        
	<li><a href="{pagina_principal}?op=close">Salir</a></li>
</ul>
<div class="clear"> </div>
		  </td>
        </tr>
      </table>
<!-- END: menu -->