<!-- BEGIN: contenido -->       
<table width="800" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
	<tr>
		<td >
	        <br /> 
            <div id="message" class="message" >{mensaje}</div>        
                 
                        <!-- BEGIN: buscar_tickets -->

                        <table width="800" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                            <tr>
                                <td>
                                    <div id="main">

                                        <br />

                                        <form id="frm1" method="get" enctype="multipart/form-data" action="{pagina_principal}" xml:lang="es" lang="es">
                                            <input style="border: hidden" type="hidden" name="op" id="idop" value="{opcion_sistema}"/>
                                            <input style="border: hidden" type="hidden" name="accion" id="idaccion" value="listar_resultados"/>
                                             <fieldset>
                                                   <table align="center" border="0" cellpadding="2" cellspacing="0" width="80%">
                                                        <tr>
                                                            <td><span class="requerido">*</span> Fecha desde:</td>
                                                            <td><input type="text" id="fechadesde" name="fechadesde" value="{fecha}"></td>
                                                            <td><span class="requerido">*</span> Fecha hasta:</td>
                                                            <td><input type="text" id="fechahasta" name="fechahasta" value="{fecha}"></td>

                                                            <script type="text/javascript">
                                                                 $(function() {
                                                                     $("#fechadesde,#fechahasta").datepicker({
                                                                        beforeShow: RangoDefault,
                                                                        changeMonth: true,
                                                                        changeYear: true,
                                                                        showOn: 'both',
                                                                        buttonText: 'Calendario',
                                                                        buttonImage: "./images/calendar.jpg",
                                                                        buttonImageOnly: true
                                                                        }).addClass("embed").attr('readonly','readonly');

                                                                    // Para validar las fechas
                                                                    function RangoDefault(input){
                                                                            return {
                                                                                    minDate: ( (input.id == "fechahasta" && $("#fechadesde").val()) ? $("#fechadesde").datepicker("getDate") : null),
                                                                                    maxDate:  '+0d'
                                                                            };
                                                                    }

                                                                  });
                                                                </script>

                                                        </tr>

                                                    </table>
                                                </fieldset>

                                            <div class="botones">

                                                    <input  id="btnok" name="btnentrar" value="Ver"  type="submit" class="boton"/>&nbsp;&nbsp;&nbsp;

                                                    <input  id="btncancel" name="btncancelar" value="Cancelar" type="button" class="boton" onclick="location='{ruta_regreso}'"/>

                                            </div>
                                        </form>
                                       </div>
                                </td>
                            </tr>
                        </table>
                      
                        <!-- END: buscar_tickets -->

                        <!-- BEGIN: lista_resultados -->
			<form id="frm1" method="get" enctype="multipart/form-data" action="{pagina_principal}" xml:lang="es" lang="es" target="_blank">
                        <input style="border: hidden" type="hidden" name="op" id="idop" value="{opcion_sistema}"/>
                        <input style="border: hidden" type="hidden" name="accion" id="idaccion" value="ver_resultados"/>
                        <input style="border: hidden" type="hidden" name="fechadesde" id="idaccion" value="{fechadesde}"/>
                        <input style="border: hidden" type="hidden" name="fechahasta" id="idaccion" value="{fechahasta}"/>
			<table id="tb1" align="center" class="table_list" cellpadding="1" cellspacing="1">
				<caption>Cuadre con Banca desde {fechadesde} hasta {fechahasta}</caption>

				<thead>
					<tr>
						<th class="title header" scope="col">Fecha</th>
                                                <th class="title header" scope="col">Total Ventas</th>
						<th class="title header" scope="col">Comision</th>
                                                <th class="title header" scope="col">Total Premiado</th>
                                                <th class="title header" scope="col">Balance</th>
					</tr>
				</thead>

				<tbody>

					<!-- BEGIN: lista -->
					<tr class="{estilo_fila}">
						<td align="center">&nbsp;{fecha}</td>
						<td align="center">{total_ventas}</td>
   						<td align="center">{comision}</td>
                                                <td align="center">{total_premiado}</td>
                                                <td align="center">{balance}</td>
					</tr>
					<!-- END: lista -->

					<!-- BEGIN: no_lista -->

					<tr class="even">
						<td align="center" colspan="6" class="odd"><br />{sin_listado}<br />&nbsp;</td>
					</tr>
					<!-- END: no_lista -->

				</tbody>
				<tfoot>
                                    </tfoot>
			</table>
                            <div class="paginas">{paginacion}</div>
                            
                           
                            <div class="botones">
                                <span>[ <a class="enlaces" href="./ajax/ImprimirReporteBanca.php?fechadesde={fechadesde}&amp;fechahasta={fechahasta}">Imprimir como Ticket</a> ]</span>
                                                                
                                <input  id="btnok" name="btnentrar" value="Descargar en PDF"  type="submit" class="boton" target="_blank">&nbsp;&nbsp;&nbsp;

                                <input  id="btncancel" name="btncancelar" value="Cancelar" type="button" class="boton" onclick="location='{ruta_regreso}'"/>

                        </div>
			<!-- END: lista_resultados -->
			 <div class="paginas">{no_info}</div>
			
	
                        <br />	<br />
		
		</td>	
	</tr>

    </table>
     
<!-- END: contenido -->       


