<!-- BEGIN: contenido -->       
<table width="800" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
	<tr>
		<td >
	        <br /> 
            <div id="message" class="message" >{mensaje}</div>        
                 
			<!-- BEGIN: lista_usuario -->
			<div id="enlaces_accion">
				<span>[ <a class="enlaces" href="{pagina_principal}?op={opcion_sistema}&amp;accion=add">Ingresar Sorteo</a> ]</span>	
			</div>              
			<table id="tb1" align="center" class="table_list" cellpadding="1" cellspacing="1">
				<caption>Listado de Sorteos</caption>			

				<thead>		
					<tr>		
						<th class="title header" scope="col"  width="20">&nbsp;</th>		
						<th class="title header" scope="col"  width="20">&nbsp;</th>		
						<th class="title header" scope="col">Loteria</th>
						<th class="title header" scope="col">Sorteo</th>		
						<th class="title header" scope="col">Hora Sorteo</th>		
						<th class="title header" scope="col">Zodiacal</th>
						<th class="title header" scope="col">Status</th>                        		
					</tr>		
				</thead>
		
				<tbody>
		
					<!-- BEGIN: lista -->
					<tr class="{estilo_fila}">
		
						<td class="lista1" scope="row" align="center">
							<a href="{pagina_principal}?op={opcion_sistema}&amp;accion=mod&amp;id={id_Sorteo}" title="Ver / Modificar">
                            	<img src="./images/lapiz.gif" border="0"/>
                           	</a>
						</td>
						<td scope="row" align="center">
							<a href="{pagina_principal}?op={opcion_sistema}&amp;accion=del&amp;id={id_Sorteo}" title="Eliminar">
                            	<img src="./images/delete.png" border="0"/>
                            </a>
						</td>
						<td align="left">&nbsp;{Nombre_Loteria}</td>
						<td align="left">&nbsp;{Nombre_Sorteo}</td>		
						<td align="center">{Hora}</td>
   						<td align="center">{Zodiacal}</td>
   						<td align="center">{status}</td>				
					</tr>
					<!-- END: lista -->
		
					<!-- BEGIN: no_lista -->
		
					<tr class="even">		
						<td align="center" colspan="6" class="odd"><br />{sin_listado}<br />&nbsp;</td>		
					</tr>		
					<!-- END: no_lista -->
		
				</tbody>				
				<tfoot>
                </tfoot>
			</table>
                <div class="paginas">{paginacion}</div>	
					
			<!-- END: lista_usuario -->
			
			<!-- BEGIN: formulario -->
		
			<div id="formularios" align="center">
		
				<form  name="frm1" id="frm1" method="post" enctype="multipart/form-data" action="{pagina_principal}" xml:lang="es" lang="es">
		
					<input style="border: hidden" type="hidden" name="op" id="idop" value="{opcion_sistema}"/>
		
					<input style="border: hidden" type="hidden" name="accion" id="idaccion" value="{tipo_accion}"/>

					<!-- BEGIN: identificador -->
		
					<input style="border: hidden" type="hidden" name="idreferencia" id="idreferencia" value="{id_Sorteo}"/>
		
					<!-- END: identificador -->	
									
		
					<fieldset>
		
						<legend>Formulario de Sorteo:</legend>
		
						<table align="center" border="0" cellpadding="2" cellspacing="0" width="80%">
		
							<tr><td colspan="2" class="requerido" style="text-align:right;">(*)Campos Requeridos&nbsp;</td></tr>

							<tr><td colspan="2"></td></tr>
                            <tr>
        
                                <td class="tag" width="230"><span class="requerido">*</span> Loteria:</td>
        
                                <td>
        
                                    <select id="op_loteria" name="op_loteria" >
        
                                        <option value="0">Seleccione Loteria....</option>
        
                                        <!-- BEGIN: lista_loterias -->
        
                                        <option value="{id_loteria}" {seleccion}>{nombre_loteria}</option>
        
                                        <!-- END: lista_loterias -->
        
                                    </select>
        
                                </td>
        
                            </tr> 
                            	
							<tr><td colspan="2">&nbsp;</td></tr>
		
							<tr>
		
								<td class="tag" width="230"><span class="requerido">*</span> Nombre del Sorteo con Hora :</td>
		
								<td><input id="txt_name" name="txt_name" size="30" maxlength="20" type="text" value="{txt_name}"/></td>
		
							</tr>
		
							<tr><td colspan="2"></td></tr>
							<tr>
		
								<td class="tag" width="230"><span class="requerido">*</span> Hora:</td>
		
								<td>
									<select id="op_hora" name="op_hora" >
                                        <!-- BEGIN: lista_horas -->        
                                        <option value="{id_hora}" {seleccion}>{id_hora}</option>        
                                        <!-- END: lista_horas -->																										
									</select>
									Minutos:
									<select id="op_minute" name="op_minute" >
                                        <!-- BEGIN: lista_minutos -->        
                                        <option value="{id_minutos}" {seleccion}>{id_minutos}</option>        
                                        <!-- END: lista_minutos -->																																		
									</select>									
								</td>
		
							</tr>
		
							<tr><td colspan="2"></td></tr>
                            <tr>
        
                                <td class="tag" width="230"><span class="requerido">*</span> Zodiacal:</td>
        
                                <td>
        
                                    <select id="op_zodiacal" name="op_zodiacal" >
       
                                        <option value="0" {seleccione}>No</option>
                                        <option value="1" {selecciona}>SI</option>
        
                                    </select>
        
                                </td>
        
                            </tr> 
                            
							<tr><td colspan="2"></td></tr>
                            <tr>
        
                                <td class="tag" width="230"><span class="requerido">*</span> Status Sorteo:</td>
        
                                <td>
        
                                    <select id="op_status" name="op_status" >
        
                                        <option value="1" {selecciono}>Activo</option>
                                        <option value="0" {seleccionu}>Inactivo</option>
        
                                    </select>
        
                                </td>
        
                            </tr>                                                         
		
							<tr><td colspan="2"></td></tr>                                                                                        	
						</table>
		
					</fieldset>
		
					<div class="botones" align="center">
		
						<input  id="btnok" name="btnentrar" value="{tag_boton}" type="submit" class="boton"/>

						&nbsp;&nbsp;&nbsp;
		
						<input  id="btncancel" name="btncancelar" value="Regresar" type="button" class="boton" onclick="location='{ruta_regreso}'"/>
						
					</div>
					
				</form>			 
		
			</div>
		
			<!-- END: formulario -->
	
<br />	<br />	 
		
		</td>	
	</tr>

</table>
     
<!-- END: contenido -->       


