<!-- BEGIN: contenido1 -->  
    
<table class="table_ticket" align="center" border="0">
	<tr class="eveni">
		<td align='center'><strong>Sorteo<strong></td>
		<td align='center'><strong>Numero<strong></td>
		<td align='center'><strong>Monto<strong></td>		
	</tr>
	<tr class="eveni">
		<td align='center'>Chance A 8 PM</td>
		<td align='center'>124</td>
		<td align='center'>20</td>
	</tr>	
	<!-- BEGIN: lista_ticket -->
	<tr>
		<td align='center'>Chance A 8 PM</td>
		<td align='center'>124</td>
		<td align='center'>20</td>
	</tr>
	<!-- END: lista_ticket -->																																				
</table>     
<!-- END: contenido1 -->       


