<html>
<body>
<!-- BEGIN: contenido -->       
<table width="800" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
	<tr>
		<td >
	        <br /> 
            <!--<div id="message" class="message" >{mensaje}</div>  --> 
		
<form data-plus-as-tab="true" name="frm1" id="frm1" method="post" enctype="multipart/form-data" action="{pagina_principal}"  xml:lang="es" lang="es">
<script language='javascript' type='text/javascript'> cargarPreticket();</script>
<input style="border: hidden" type="hidden" name="op" id="idop" value="{opcion_sistema}"/>

<input style="border: hidden" type="hidden" name="accion" id="idaccion" value="{tipo_accion}"/>

<table width="760" height="348" border="0" align="center" class="table_lister" cellpadding="1" cellspacing="1">
	<caption>Ventas de Ticket</caption>
 <thead>
  <tr class="odd">
    <th width="194" class="title header" scope="col">Juego</th>
    <th width="180" class="title header" scope="col">Loterias</th>
    <th width="200" class="title header" scope="col">Zodiacales</th>
    <th width="158" class="title header" scope="col">Ticket</th>
  </tr>
</thead>
<tbody>  
  <tr align="center"  class="evene"> <!-- Clase que me tiene jodido con la clase de las tablas -->
    <td height="124">
    <!--si cambia value (permuta) recuerda cambiar el jscript metodo ValidateFormSell()-->
    <!-- 
 			(A) Triple | (P) Permuta<br>
			(S) Serie&nbsp;  | (C) Corrida <br>   
		<select id="op_juego" name="op_juego" >
			<option value="1">Triple</option>

			<option value="2">Permuta</option>
			<option value="3">Series</option>
			<option value="4">Corridas</option>
		</select>
	 -->	
	    <div align="left">
	     <input type="radio" name="op_juego" id="op_juego1" value="1" checked onClick='borra_txtNumero();' />(A) Triple&nbsp;|&nbsp;</input>
	     <input type="radio" name="op_juego" id="op_juego2" value="2" onClick='borra_txtNumero();' />&nbsp;(P) Permuta<br></input>
	     <input type="radio" name="op_juego" id="op_juego3" value="3" onClick='borra_txtNumero();' />(S) Serie&nbsp;&nbsp;|&nbsp;</input>
	     <input type="radio" name="op_juego" id="op_juego4" value="4" onClick='borra_txtNumero();' />&nbsp;(C) Corrida  </input>
	     <!-- nput type="radio" name="turno" id="turno4" value="4" checked/> <span class="seleccionGreen">(O)Todos </span></input -->
	    </div>  		
		<br>    
		Numeros :&nbsp;(U)<br> 
        <input id="txt_numero" name="txt_numero" size="7" maxlength="7" type="text" value=""/><br><br>
		Montos Bs : (B)<br>
		<input id="txt_monto" name="txt_monto" size="10"  maxlength="10" type="text" value=""/><br><br>
        <img src="./images/add1.png" onClick='agregar_ticket();calcula_total();'/>
        <br>AGREGAR AL TICKET&nbsp;(+)<br><br>
        <p align="center">&nbsp;Estaci&oacute;n: &nbsp;<input id="taquilla" name="taquilla" size="3" type="text" disabled="disabled" value="{taquilla}"/></p></td>
   		 
	</td>
    <td rowspan="3"  align="left">

    <div align="center">
     <input type="radio" name="turno" id="turno1" value="1" /> (M)&nbsp;Ma&ntilde;ana |&nbsp; </input>
     <input type="radio" name="turno" id="turno2" value="2"/>  (T)&nbsp;Tarde <br></input>
     <input type="radio" name="turno" id="turno3" value="3"/>  (N)&nbsp;Noche&nbsp;&nbsp;&nbsp; |&nbsp; </input>
     <input type="radio" name="turno" id="turno4" value="4" checked/>(O)&nbsp;Todos&nbsp;  </input>
     <!-- nput type="radio" name="turno" id="turno4" value="4" checked/> <span class="seleccionGreen">(O)Todos </span></input -->
    </div>   
<br>

	    <input id="cant_sorteos" name="cant_sorteos" size="10" " maxlength="6" type="hidden" value="{cant_sorteos}"/>
	    <!--  
	&nbsp;&nbsp;Todos   Si / No&nbsp;(L)&nbsp;&nbsp;&nbsp;<input type="checkbox" id="s0" name="s0" value="0" onClick="checkAllsorteos(document.getElementsByName('ss[]'));" >	   
 	-->
	&nbsp;<input type="checkbox" id="s0" name="s0" value="0" onClick="checkAllsorteos(document.getElementsByName('ss[]'));" > &nbsp;<label for="sm">Todos   Si / No&nbsp;(L)</label>
	    <div  id="checkboxesorteos" style=" width:200px; height:540px; overflow:auto;">
     <span class="text-label1">
			<table border="0">
			  <!-- BEGIN: lista_sorteos_manana -->
			  <tr class="eveni">
			    <td><input type="checkbox" name="ss[]" value="{id_sorteo}" {claset} />&nbsp;<label for="sm">{nombre_sorteo}</label></td>
			  </tr>	
			  <!-- END: lista_sorteos_manana -->
			</table>
	 </span>

     <span class="text-label2">
			<table border="0">
			  <!-- BEGIN: lista_sorteos_tarde -->
			  <tr class="eveni">
			    <td><input type="checkbox" name="ss[]" value="{id_sorteo}" {claset} />&nbsp;<label for="sm">{nombre_sorteo}</label></td>
			  </tr>	
			  <!-- END: lista_sorteos_tarde -->
			</table>
			</span>
			
    	 <span class="text-label3">
			<table border="0">			
			  <!-- BEGIN: lista_sorteos_noche -->
			  <tr class="eveni">
			    <td><input type="checkbox" name="ss[]" value="{id_sorteo}" {claset} />&nbsp;<label for="sm">{nombre_sorteo}</label></td>
			  </tr>	
			  <!-- END: lista_sorteos_noche -->			  			
			</table>
			</span>
			
		</div>
		
	</td>

	<td >
		<table width="150" border="0">
			<tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="z0" value="0" onClick="checkAllZodiacales(document.getElementsByName('zz[]'));" > &nbsp;<label for="sm">Todos   Si / No&nbsp;(Z)</label></td>
		    </tr>
			<tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id=""z0" name="zz[]" value="1" /> &nbsp;<label for="sm">Acuario</label></td>
		  </tr>
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="2" /> &nbsp;<label for="sm">Aries</label></td>
		  </tr>
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="3" /> &nbsp;<label for="sm">Cancer</label></td>
		  </tr>
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="4" /> &nbsp;<label for="sm">Capricornio</label></td>
		  </tr>  
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="5" /> &nbsp;<label for="sm">Escorpio</label></td>
		  </tr>  
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="6" /> &nbsp;<label for="sm">Geminis</label></td>
		  </tr>  
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="7" /> &nbsp;<label for="sm">Leo</label></td>
		  </tr>  
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="8" /> &nbsp;<label for="sm">Libra</label></td>
		  </tr>  
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="9" /> &nbsp;<label for="sm">Piscis</label></td>
		  </tr>  
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="10" /> &nbsp;<label for="sm">Sagitario</label></td>
		  </tr>  
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="11" /> &nbsp;<label for="sm">Tauro</label></td>
		  </tr>  
		  <tr class="eveni">
		    <td>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="z0" name="zz[]" value="12" /> &nbsp;<label for="sm">Virgo</label></td>
		  </tr> 
		  </table>    
      
    </td>
    <td rowspan="2">
    {vergacion}
		<div id="ticket" style=" width:200px; height:480px; overflow:auto;">
		
	    </div>    
    </td>
    
  </tr>
  <tr align="center">
    <td height="130" rowspan="2">

	<!-- Tabla para la Leyenda -->     
    <table align="center" border='0'>
    <tr>
      <td align="left">
     <span class="leyendafont">  
      	<span class="leyendafontgreen">G</span>&nbsp;Generar Terminales<br>
      	<span class="leyendafontgreen">H</span>&nbsp;Generar Terminalazos<br>
        <span class="leyendafontgreen">W</span>&nbsp;Borrar Terminales<br>
        <span class="leyendafontgreen">Y</span>&nbsp;Borrar Ultima Apuesta<br>
        <span class="leyendafontgreen">E</span>&nbsp;Borrar Detalle en Ticket<br>
		<span class="leyendafontgreen">X</span>&nbsp;Borrar Ticket<br>
        <span class="leyendafontgreen">Q</span>&nbsp;Limpiar Seleccion<br>
        <span class="leyendafontgreen">F</span>&nbsp;Seleccionar Frecuentes<br>
        <span class="leyendafontgreen">J</span>&nbsp;Ajustar Montos<br><br>
        <!-- <span class="leyendafontgreen">I</span>&nbsp;Imprimir Ticket<br><br> -->
        <span class="leyendafontgreen">F4</span>&nbsp;Consultar/Pagar Ticket<br>
        <span class="leyendafontgreen">F6</span>&nbsp;Anular Ticket<br>
        <span class="leyendafontgreen">F7</span>&nbsp;Copiar Ticket<br>
        <span class="leyendafontgreen">F8</span>&nbsp;Ver Ticket Actual<br>
        <span class="leyendafontgreen">F9</span>&nbsp;Ver Resultados<br>
        <span class="leyendafontgreen">F10</span>&nbsp;Reimprimir Ticket<br>
        <span class="leyendafontgreen">F12</span>&nbsp;Imprimir Ticket<br><br>
        <!-- F11 Maximizar / Minimizar<br -->
      </span>
      </td>
    </tr>             
   </table>               
    <!-- 
    <img src="./images/add1.png" onClick='agregar_ticket()'/>
    <br>AGREGAR AL TICKET<br><br>
    <p align="center">&nbsp;Estaci&oacute;n: &nbsp;<input id="taquilla" name="taquilla" size="3" type="text" readonly="readonly" value="{taquilla}"/></p></td>
     -->
    <td>
    <table align="center">
    <tr>
      <td align="left">Efectivo<br>Recibido: (R)</td>
      <td align="left">Cambio</td>
    </tr>
    <tr>
      <td align="center" colspan="2">
      <input id="recibido" name="recibido" size="15" maxlength="10" type="text" onKeyUp="calcula_cambio()"/>
      <input id="cambio" name="cambio" size="15" type="text" readonly/>
      <br>
      <img src="./images/printer.png" onClick="procesarticket();CargarReset1();" /><br> <span>[ <a class="enlaces" href="#" onClick="procesarticket();CargarReset1();">IMPRIMIR</a> ]</span>
      </td>
    </tr>  
   </table>
  
  
  
  </td>
  </tr>
  <tr align="center">
     <td>
    <b>Hora</b> 
	<div id="clock"></div>     
    </td>
    
    <td>    
	    <div id="carga_total"><b>Total Ticket</b>  
	    	<input id="total" name="total" size="15" type="text" readonly/>
	    </div>    
	<div id="enlaces_accion">
				<span>[ <a class="enlaces" href="{pagina_principal}?op=ticket_transaccional">Modificar Ticket (E)</a> ]</span>	
	</div>  
    </td>
    
  </tr>
</tbody>  
</table>

</form>


		</td>	
	</tr>

</table>
<!-- para cargar al final del documento -->   
<a name="final"></a>
     
<!-- END: contenido --> 
</body>      
</html>


